.color-gray {
    color: gray !important;
}
.color-red {
    color: #D01919 !important;
}
.color-blue {
    color: #2185D0 !important;
}
.color-green {
    color: #16AB39 !important;
}
@media only screen and (max-width: 600px) {
    .h6 {
      font-size: .8rem !important;
    }
  }